/* Lists of stories */

.stories-list {
  margin: 20px 5px;
}

.stories-list > li {
  color: gray;
  font-size: 1rem;
  margin: 20px 0;
    border-bottom: solid 1px rgb(0 0 0 / 25%);
    padding-bottom: 1rem;
    font-weight: bold;
}

#stories-loading-msg {
  font-weight: bold;
  font-size: 150%;
  margin: 20px 30px;
}


/* Individual stories */

.story-link {
  color: black;
  font-size: 1em;
  margin: 18px 0;
  padding-bottom: 1rem;
  padding-left: .2rem;
}

.story-link:hover {
  text-decoration: none;
}

.story-author {
  margin-left: 2em;
  display:block;
  color: green;
}

.story-user {
  display: block;
  margin-left: 2em;
  color: rgb(254, 192, 22);
  
}

/* span {
  margin-left: -.5rem;
  padding-left: 1rem;
} */
